@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project was made by Evgeny Tikhonov.</p>

<p>Email: evgeniy200109@gmail.com</p>
<p>Github: https://github.com/timi09/</p>
